@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 25, 25, 25;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-end-rgb));
}

.main-container {
  @apply max-w-[1440px] px-[20px] sm:px-[30px] md:px-[100px] mx-auto
}

.base-pad {
  @apply px-8 sm:px-10 md:px-20 lg:px-28
}

.text-outline {
  color: --background-end-rgb;
  text-shadow:
    -1px -1px 0 white,
     1px -1px 0 white,
    -1px 1px 0 white,
     1px 1px 0 white;
}


/* animation */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px);
  }
  60% {
    transform: translateY(-10px);
  }
}

.animate_bounce {
  animation: bounce 4s infinite;
}

.wobble {
  animation: wobble 2s ease infinite;
}
@keyframes wobble {
  0% { transform: translateX(0%); }
  15% { transform: translateX(-25%) rotate(-5deg); }
  30% { transform: translateX(20%) rotate(3deg); }
  45% { transform: translateX(-15%) rotate(-3deg); }
  60% { transform: translateX(10%) rotate(2deg); }
  75% { transform: translateX(-5%) rotate(-1deg); }
  100% { transform: translateX(0%); }
}

.shake {
  animation: shake 5s ease infinite;
}
@keyframes shake {
	0%, 100% {transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
	20%, 40%, 60%, 80% {transform: translateX(10px);}
}

/* animated hover scroll element inside */

.animted_inside div img {
  width: 100%;
  object-fit: cover;
  position: relative;
  transition: ease-in-out 3s;
  top: 0;
}

.animted_inside:hover  div img {
  transform: translateY(calc(-100% + 30rem));
}

.--limit-text-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}
