services:
  web:
    build: .
    command: sh -c "python manage.py migrate --noinput && gunicorn backend.wsgi:application --bind 0.0.0.0:8004"
    ports:
      - "8004:8004"
    env_file:
      - .env
